@function translate-size-desktop($width) {
	@return $width/2220 * 100vw;
}

$text-color: #333;
$desktop-safe-zone: translate-size-desktop(100);

body {
	color: $text-color;
}

.debug {
	position:absolute;
	opacity: 0.5;
	width: 100%;
	z-index: -100;
}

// Top bar
.top-bar {
	$height: 40/1920;

	width: 100vw - $desktop-safe-zone * 2;
	height: translate-size-desktop(40);
	position: fixed;
	margin: $desktop-safe-zone $desktop-safe-zone;

	// font-size: 6vw;

	* {
		height: 100%;
	}

	.page-logo {
		float: left;
	}

	.contact-link {
		float: right;
	}
}

// Top Spacer
.top-spacer {
	padding-top: $desktop-safe-zone;
	height: translate-size-desktop(40) + translate-size-desktop(49);
}

// Content
.content {
	$content-safe-zone: translate-size-desktop(60);

	margin-left: $desktop-safe-zone + translate-size-desktop(580);
	margin-right: $desktop-safe-zone;

	.h1 {
		font-size: translate-size-desktop(64);
		margin-left: translate-size-desktop(-5);
	}

	.h2 {
		margin-top: translate-size-desktop(100);
		font-size: translate-size-desktop(46);
	}

	.hr {
		border-bottom: 2px solid black;
		height: translate-size-desktop(5);
		margin: 1vw 0;
		width: 5vw;
		border-color: $text-color;
	}

	.description {
		margin-top: translate-size-desktop(40);
		margin-left: translate-size-desktop(120);

		font-size: translate-size-desktop(30);
		line-height: translate-size-desktop(46);
		letter-spacing: translate-size-desktop(0.84);

		width: translate-size-desktop(858);
		// background-color: rgba(0,0,0,0.1);

		p {
			margin-bottom: translate-size-desktop(40);
		}
	}

	.brand-icons {
		img {
			// width: 7vw;
		}
	}
}
