body {
  color: #FFF;
  background-color: #333;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-width: 30rem; }

.debug {
  position: absolute;
  opacity: 0.5;
  width: 100%;
  z-index: -100; }

.animate-container {
  text-overflow: clip;
  overflow: hidden;
  position: relative; }

.text-animate-placeholder {
  visibility: hidden;
  margin-top: 0; }

.text-animate {
  position: absolute; }

.text-animate.animate-end {
  transition: margin-top 0.5s ease-out;
  margin-top: 0 !important; }

.text-animate.fade-in {
  opacity: 0; }

.animate-end.fade-in {
  transition: opacity 0.5s ease-out, margin-top 0.5s ease-out;
  opacity: 1 !important; }

.hr.animate {
  border-bottom-width: 0px; }

.hr.animate-end {
  transition: border-bottom-width 0.2s ease-out;
  border-bottom-width: 2px; }

.top-bar, .top-spacer {
  height: 2.08333vw;
  min-height: 2rem;
  margin: 5.20833vw;
  margin-bottom: 0;
  width: 89.58333%; }

.top-bar {
  position: fixed;
  vertical-align: center;
  z-index: 10; }
  .top-bar .page-logo {
    float: left;
    height: 100%; }
  .top-bar .contact-link {
    float: right;
    margin-left: 2.08333vw;
    height: 100%;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.3; }
    .top-bar .contact-link img {
      height: 75%;
      margin-top: 12.5%; }
  .top-bar .contact-link:hover {
    opacity: 1; }

.background {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  min-height: 500px; }
  .background .profile-pic {
    height: 100%;
    width: 33vw;
    min-width: 28rem;
    opacity: 0.4;
    position: absolute;
    background-image: url("img/darcyface.jpg");
    background-size: auto 150%;
    background-position: center bottom; }
  .background .gradient {
    height: 100%;
    width: 100%;
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: right center; }

.flexbox {
  display: flex;
  flex-flow: column;
  height: 100vh; }

.top-spacer {
  flex: 0 0 2.08333vw; }

.content-wrapper {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.mobile-separator {
  display: inline; }

.content {
  margin: auto;
  margin-right: 25.95833vw;
  right: -10rem;
  padding: 3rem 0;
  display: inline-block;
  position: relative;
  float: right; }
  .content .h1 {
    font-size: 3.33333vw;
    margin-left: -0.26042vw; }
  .content .h2 {
    font-size: 2.39583vw;
    margin-top: 5.20833vw; }
  .content .hr {
    border-bottom-style: solid;
    margin: 1vw 0;
    width: 5vw;
    border-color: #FFF; }
  .content .description {
    margin-top: 2.08333vw;
    margin-left: 6.25vw;
    font-size: 1.5625vw;
    line-height: 2.39583vw;
    letter-spacing: 0.04375vw;
    width: 44.6875vw; }
    .content .description p {
      margin-bottom: 2.08333vw; }
    .content .description p.second {
      margin-bottom: 0; }
  .content .brand-icons {
    margin-top: 2.5rem;
    text-align: center; }
    .content .brand-icons img {
      height: 3.125vw;
      margin: 0 1.04167vw; }

@media screen and (max-aspect-ratio: 7 / 5) {
  .content {
    margin-right: 15.20833vw;
    right: -5rem; }
    .content .h1 {
      font-size: 4.33333vw;
      margin-left: -0.33854vw; }
    .content .h2 {
      font-size: 3.11458vw;
      margin-top: 6.77083vw; }
    .content .hr {
      margin: 1vw 0;
      width: 5vw; }
    .content .description {
      margin-top: 2.70833vw;
      margin-left: 6.25vw;
      font-size: 2.03125vw;
      line-height: 3.11458vw;
      letter-spacing: 0.05688vw;
      width: 44.79167vw; }
      .content .description p {
        margin-bottom: 2.70833vw; }
    .content .brand-icons {
      margin-top: 3.25rem; }
      .content .brand-icons img {
        height: 4.0625vw;
        margin: 0 1.35417vw; } }
@media screen and (max-aspect-ratio: 9 / 16), screen and (max-width: 45rem), screen and (max-width: 62rem) and (min-resolution: 3dppx) {
  .background {
    min-width: 30rem;
    position: absolute; }
    .background .profile-pic {
      position: absolute;
      height: 30%;
      min-height: 53vw;
      width: 100%;
      background-size: 150% auto;
      background-position: center 55%;
      z-index: 1; }
    .background .gradient {
      height: 100%;
      position: fixed; }

  .top-bar, .top-spacer {
    height: 5.33333vw; }

  .top-bar {
    margin: 8vw;
    margin-bottom: 0;
    min-width: 25rem;
    min-height: 1.5rem;
    width: 84%; }
    .top-bar .contact-link {
      margin-left: 10%; }

  .top-spacer {
    flex: 0 0 35%;
    min-height: 63vw;
    margin: 0;
    width: 100%; }

  .mobile-separator {
    display: block; }

  .content {
    align-self: flex-start;
    margin: 0 auto;
    padding: 0;
    float: left;
    right: 0;
    width: 84%; }
    .content .h1 {
      font-size: 2.66rem;
      margin-left: -0.66667vw; }
    .content .h2 {
      font-size: 2rem;
      margin-top: 4rem; }
    .content .hr {
      width: 10.66667vw;
      min-width: 3rem;
      margin: 2rem 0; }
    .content .description {
      margin-top: 5.33333%;
      margin-left: 7%;
      font-size: 1.25rem;
      line-height: 2rem;
      letter-spacing: 0.035rem;
      width: 93%; }
      .content .description p {
        margin-bottom: 5.33333%; }
    .content .brand-icons {
      margin-top: 2.5rem;
      text-align: left; }
      .content .brand-icons img {
        height: 10.66667vw;
        margin: 1rem 0.9rem;
        min-height: 50px; } }

/*# sourceMappingURL=styles.css.map */
